## Подготовка данных в pandas

In [1]:
# отключаем предупреждения
import warnings
warnings.filterwarnings("ignore")

# импортируем необходимые библиотеки
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('font', family='Verdana')

In [2]:
# записываем CSV-файл в объект DataFrame
data = pd.read_csv('C:/Trees/Churn_logreg.csv', encoding = 'cp1251', sep = ';')

In [3]:
# выводим первые 5 наблюдений датафрейма
data.head()

,longdist,internat,local,int_disc,billtype,pay,age,gender,marital,children,income,churn
0,"27,09",0,"39,74",Нет,Бюджетный,CC,35.0,Женский,Женат,0.0,77680,Остается
1,NaN,0,"46,31",Нет,NaN,NaN,53.0,Мужской,Одинокий,1.0,"37111,5",Остается
2,"23,76",0,NaN,NaN,Бюджетный,Auto,NaN,Женский,NaN,1.0,"37079,4",Остается
3,"9,4",NaN,"13,9",Нет,NaN,CH,NaN,Мужской,Одинокий,NaN,81997,Остается
4,"14,15",0,"108,43",Да,Бесплатный,Auto,39.0,Женский,Одинокий,0.0,"16829,6",Остается

In [4]:
# смотрим типы переменных
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4431 entries, 0 to 4430
Data columns (total 12 columns):
longdist    4430 non-null object
internat    4427 non-null object
local       4428 non-null object
int_disc    4430 non-null object
billtype    4427 non-null object
pay         4429 non-null object
age         4428 non-null float64
gender      4430 non-null object
marital     4427 non-null object
children    4430 non-null float64
income      4430 non-null object
churn       4431 non-null object
dtypes: float64(2), object(10)
memory usage: 415.5+ KB

In [5]:
# заменяем запятые на точки и преобразуем в тип float
for i in ['longdist', 'internat', 'local', 'income']:
    if i in data.columns:
        data[i] = data[i].str.replace(',', '.').astype('float')
data.head()

,longdist,internat,local,int_disc,billtype,pay,age,gender,marital,children,income,churn
0,27.09,0.0,39.74,Нет,Бюджетный,CC,35.0,Женский,Женат,0.0,77680.0,Остается
1,NaN,0.0,46.31,Нет,NaN,NaN,53.0,Мужской,Одинокий,1.0,37111.5,Остается
2,23.76,0.0,NaN,NaN,Бюджетный,Auto,NaN,Женский,NaN,1.0,37079.4,Остается
3,9.40,NaN,13.90,Нет,NaN,CH,NaN,Мужской,Одинокий,NaN,81997.0,Остается
4,14.15,0.0,108.43,Да,Бесплатный,Auto,39.0,Женский,Одинокий,0.0,16829.6,Остается

In [6]:
# смотрим типы переменных
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4431 entries, 0 to 4430
Data columns (total 12 columns):
longdist    4430 non-null float64
internat    4427 non-null float64
local       4428 non-null float64
int_disc    4430 non-null object
billtype    4427 non-null object
pay         4429 non-null object
age         4428 non-null float64
gender      4430 non-null object
marital     4427 non-null object
children    4430 non-null float64
income      4430 non-null float64
churn       4431 non-null object
dtypes: float64(6), object(6)
memory usage: 415.5+ KB

In [7]:
# смотрим статистики для количественных переменных
data.describe()

,longdist,internat,local,age,children,income
count,4430.000000,4427.000000,4428.000000,4428.000000,4430.000000,4430.000000
mean,13.638023,0.835044,51.361093,57.562331,0.988939,50296.423896
std,9.393025,2.233639,54.685012,22.832404,0.824448,28439.435264
min,0.000000,0.000000,0.050000,18.000000,0.000000,110.280000
25%,5.170000,0.000000,13.460000,38.000000,0.000000,25445.600000
50%,13.680000,0.000000,35.010000,58.000000,1.000000,50290.700000
75%,22.080000,0.000000,71.660000,77.000000,2.000000,75004.500000
max,29.980000,9.950000,450.620000,97.000000,2.000000,99832.900000

In [8]:
def make_conj(df, feature1, feature2):
    df[feature1 + "_" + feature2] = df[feature1].astype('object') + " + " + df[feature2].astype('object')

In [9]:
make_conj(data, 'gender', 'marital')

In [10]:
# смотрим статистики для категориальных переменных,
# кроме зависимой переменной churn
categorical_columns = [c for c in data.loc[:, data.columns != 'churn'] if data[c].dtype.name == 'object']
data[categorical_columns].describe()

       int_disc   billtype   pay   gender marital   gender_marital
count      4430       4427  4429     4430    4427             4427
unique        2          2     4        2       2                4
top         Нет  Бюджетный    CC  Женский   Женат  Женский + Женат
freq       3054       2244  2561     2244    2625             1352

In [11]:
# смотрим уникальные значения
# категориальных переменных
for c in categorical_columns:
    print(data[c].unique())

['Нет' nan 'Да']
['Бюджетный' nan 'Бесплатный']
['CC' nan 'Auto' 'CH' 'CD']
['Женский' 'Мужской' nan]
['Женат' 'Одинокий' nan]
['Женский + Женат' 'Мужской + Одинокий' nan 'Женский + Одинокий'
 'Мужской + Женат']

In [12]:
# смотрим частоты категорий для
# категориальных переменных
for c in categorical_columns:
    print(data[c].value_counts(dropna=False))

Нет    3054
Да     1376
NaN       1
Name: int_disc, dtype: int64
Бюджетный     2244
Бесплатный    2183
NaN              4
Name: billtype, dtype: int64
CC      2561
CH       977
Auto     889
CD         2
NaN        2
Name: pay, dtype: int64
Женский    2244
Мужской    2186
NaN           1
Name: gender, dtype: int64
Женат       2625
Одинокий    1802
NaN            4
Name: marital, dtype: int64
Женский + Женат       1352
Мужской + Женат       1273
Мужской + Одинокий     912
Женский + Одинокий     890
NaN                      4
Name: gender_marital, dtype: int64

In [13]:
# заменяем редкую категорию модой
data.at[data['pay'] == 'CD', 'pay'] = 'CC'
data['pay'].value_counts(dropna = False)

CC      2563
CH       977
Auto     889
NaN        2
Name: pay, dtype: int64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4431 entries, 0 to 4430
Data columns (total 13 columns):
longdist          4430 non-null float64
internat          4427 non-null float64
local             4428 non-null float64
int_disc          4430 non-null object
billtype          4427 non-null object
pay               4429 non-null object
age               4428 non-null float64
gender            4430 non-null object
marital           4427 non-null object
children          4430 non-null float64
income            4430 non-null float64
churn             4431 non-null object
gender_marital    4427 non-null object
dtypes: float64(6), object(7)
memory usage: 450.1+ KB

In [15]:
data.head()

,longdist,internat,local,int_disc,billtype,pay,age,gender,marital,children,income,churn,gender_marital
0,27.09,0.0,39.74,Нет,Бюджетный,CC,35.0,Женский,Женат,0.0,77680.0,Остается,Женский + Женат
1,NaN,0.0,46.31,Нет,NaN,NaN,53.0,Мужской,Одинокий,1.0,37111.5,Остается,Мужской + Одинокий
2,23.76,0.0,NaN,NaN,Бюджетный,Auto,NaN,Женский,NaN,1.0,37079.4,Остается,NaN
3,9.40,NaN,13.90,Нет,NaN,CH,NaN,Мужской,Одинокий,NaN,81997.0,Остается,Мужской + Одинокий
4,14.15,0.0,108.43,Да,Бесплатный,Auto,39.0,Женский,Одинокий,0.0,16829.6,Остается,Женский + Одинокий

In [16]:
# поделим возраст на длительность междугородних звонков в минутах
data['ratio'] = data['age']/data['longdist']
# заменяем бесконечные значения на 1
data['ratio'].replace([np.inf, -np.inf], 1, inplace = True)

In [17]:
# поделим длительность междугородних звонков в минутах на
# длительность международных звонков в минутах
data['ratio2'] = data['longdist']/data['internat']
# заменяем бесконечные значения на 0
data['ratio2'].replace([np.inf, -np.inf], 0, inplace = True)

In [18]:
# поделим доход на возраст
data['ratio3'] = data['income']/data['age']
# заменяем бесконечные значения на 0
data['ratio3'].replace([np.inf, -np.inf], 0, inplace = True)

In [19]:
# поделим возраст на количество детей
data['ratio4'] = data['age']/data['children']
# заменяем бесконечные значения на 0
data['ratio4'].replace([np.inf, -np.inf], 0, inplace = True)

In [20]:
# разбиваем данные на обучающую и контрольную выборки
train = data.sample(frac = 0.7, random_state = 200)
test = data.drop(train.index)

In [21]:
# выводим информацию о количестве пропусков
# по каждой переменной в обучающей выборке
train.isnull().sum()

longdist            1
internat            4
local               2
int_disc            0
billtype            4
pay                 2
age                 2
gender              1
marital             3
children            1
income              1
churn               0
gender_marital      3
ratio               3
ratio2            336
ratio3              2
ratio4              2
dtype: int64

In [22]:
# выводим информацию о количестве пропусков
# по каждой переменной в контрольной выборке
test.isnull().sum()

longdist            0
internat            0
local               1
int_disc            1
billtype            0
pay                 0
age                 1
gender              0
marital             1
children            0
income              0
churn               0
gender_marital      1
ratio               1
ratio2            161
ratio3              1
ratio4              1
dtype: int64

In [23]:
numerical_columns = train.dtypes[train.dtypes != 'object'].index 
for i in numerical_columns:
    train[i].fillna(train[i].mean(), inplace = True)
    test[i].fillna(train[i].mean(), inplace = True)

In [24]:
for i in categorical_columns:
    train[i].fillna(train[i].value_counts().index[0], inplace=True)
    test[i].fillna(train[i].value_counts().index[0], inplace=True)

In [25]:
for c in categorical_columns:
    print(train[c].value_counts(dropna=False))

Нет    2139
Да      963
Name: int_disc, dtype: int64
Бюджетный     1569
Бесплатный    1533
Name: billtype, dtype: int64
CC      1810
CH       688
Auto     604
Name: pay, dtype: int64
Мужской    1553
Женский    1549
Name: gender, dtype: int64
Женат       1821
Одинокий    1281
Name: marital, dtype: int64
Женский + Женат       930
Мужской + Женат       891
Мужской + Одинокий    660
Женский + Одинокий    621
Name: gender_marital, dtype: int64

In [26]:
train.isnull().sum()

longdist          0
internat          0
local             0
int_disc          0
billtype          0
pay               0
age               0
gender            0
marital           0
children          0
income            0
churn             0
gender_marital    0
ratio             0
ratio2            0
ratio3            0
ratio4            0
dtype: int64

In [27]:
test.isnull().sum()

longdist          0
internat          0
local             0
int_disc          0
billtype          0
pay               0
age               0
gender            0
marital           0
children          0
income            0
churn             0
gender_marital    0
ratio             0
ratio2            0
ratio3            0
ratio4            0
dtype: int64

In [28]:
train.replace({0: 0.5}, inplace = True)
test.replace({0: 0.5}, inplace = True)

In [29]:
pd.set_option('max_colwidth', 800)

In [30]:
from scipy.stats import boxcox
for i in numerical_columns:  
    train[i], fitted_lambda = boxcox(train[i])     
    test[i] = boxcox(test[i], fitted_lambda)

In [31]:
# печатаем названия столбцов до и после
# дамми-кодирования
print('Исходные переменные:\n', list(train.columns), '\n')
train_dummies = pd.get_dummies(train)
print('Переменные после get_dummies:\n', list(train_dummies.columns))

print('Исходные переменные:\n', list(test.columns), '\n')
test_dummies = pd.get_dummies(test)
print('Переменные после get_dummies:\n', list(test_dummies.columns))

Исходные переменные:
 ['longdist', 'internat', 'local', 'int_disc', 'billtype', 'pay', 'age', 'gender', 'marital', 'children', 'income', 'churn', 'gender_marital', 'ratio', 'ratio2', 'ratio3', 'ratio4']

Переменные после get_dummies:
 ['longdist', 'internat', 'local', 'age', 'children', 'income', 'ratio', 'ratio2', 'ratio3', 'ratio4', 'int_disc_Да', 'int_disc_Нет', 'billtype_Бесплатный', 'billtype_Бюджетный', 'pay_Auto', 'pay_CC', 'pay_CH', 'gender_Женский', 'gender_Мужской', 'marital_Женат', 'marital_Одинокий', 'churn_Остается', 'churn_Уходит', 'gender_marital_Женский + Женат', 'gender_marital_Женский + Одинокий', 'gender_marital_Мужской + Женат', 'gender_marital_Мужской + Одинокий']
Исходные переменные:
 ['longdist', 'internat', 'local', 'int_disc', 'billtype', 'pay', 'age', 'gender', 'marital', 'children', 'income', 'churn', 'gender_marital', 'ratio', 'ratio2', 'ratio3', 'ratio4']

Переменные после get_dummies:
 ['longdist', 'internat', 'local', 'age', 'children', 'income', 'ratio', 'ratio2', 'ratio3', 'ratio4', 'int_disc_Да', 'int_disc_Нет', 'billtype_Бесплатный', 'billtype_Бюджетный', 'pay_Auto', 'pay_CC', 'pay_CH', 'gender_Женский', 'gender_Мужской', 'marital_Женат', 'marital_Одинокий', 'churn_Остается', 'churn_Уходит', 'gender_marital_Женский + Женат', 'gender_marital_Женский + Одинокий', 'gender_marital_Мужской + Женат', 'gender_marital_Мужской + Одинокий']

In [32]:
# создаем обучающий и контрольный массивы меток
y_train = train_dummies.loc[:, 'churn_Уходит']
y_test = test_dummies.loc[:, 'churn_Уходит']
# создаем обучающий и контрольный массивы признаков
train_dummies.drop(['churn_Остается', 'churn_Уходит'], axis=1, inplace=True)
test_dummies.drop(['churn_Остается', 'churn_Уходит'], axis=1, inplace=True)
X_train = train_dummies.loc[:, 'longdist':'gender_marital_Мужской + Одинокий']
X_test = test_dummies.loc[:, 'longdist':'gender_marital_Мужской + Одинокий']

In [33]:
##### смотрим распределение классов зависимой 
# переменной в обучающей выборке (частоты)
print(y_train.value_counts())

0    1749
1    1353
Name: churn_Уходит, dtype: int64

In [34]:
# смотрим распределение классов зависимой 
# переменной в контрольной выборке (частоты)
print(y_test.value_counts())

0    747
1    582
Name: churn_Уходит, dtype: int64

In [35]:
# применяем RobustScaler
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

## Построение модели логистической регрессии

In [36]:
# импортируем класс LogisticRegression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression().fit(X_train_scaled, y_train)
# печатаем значения правильности
print('Правильность на обучающей выборке: {:.3f}'.format(logreg.score(X_train_scaled, y_train)))
print('Правильность на контрольной выборке: {:.3f}'.format(logreg.score(X_test_scaled, y_test)))

Правильность на обучающей выборке: 0.810
Правильность на контрольной выборке: 0.808

In [37]:
from sklearn.metrics import roc_auc_score
print('AUC на обучающей выборке: {:.3f}'.
      format(roc_auc_score(y_train, logreg.predict_proba(X_train_scaled)[:, 1])))
print('AUC на контрольной выборке: {:.3f}'.
      format(roc_auc_score(y_test, logreg.predict_proba(X_test_scaled)[:, 1])))

AUC на обучающей выборке: 0.885
AUC на контрольной выборке: 0.888

In [38]:
X = pd.concat([X_train, X_test], axis = 0)
y = pd.concat([y_train, y_test], axis = 0)

In [39]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4431 entries, 2157 to 4430
Data columns (total 25 columns):
longdist                             4431 non-null float64
internat                             4431 non-null float64
local                                4431 non-null float64
age                                  4431 non-null float64
children                             4431 non-null float64
income                               4431 non-null float64
ratio                                4431 non-null float64
ratio2                               4431 non-null float64
ratio3                               4431 non-null float64
ratio4                               4431 non-null float64
int_disc_Да                          4431 non-null uint8
int_disc_Нет                         4431 non-null uint8
billtype_Бесплатный                  4431 non-null uint8
billtype_Бюджетный                   4431 non-null uint8
pay_Auto                             4431 non-null uint8
pay_CC                               4431 non-null uint8
pay_CH                               4431 non-null uint8
gender_Женский                       4431 non-null uint8
gender_Мужской                       4431 non-null uint8
marital_Женат                        4431 non-null uint8
marital_Одинокий                     4431 non-null uint8
gender_marital_Женский + Женат       4431 non-null uint8
gender_marital_Женский + Одинокий    4431 non-null uint8
gender_marital_Мужской + Женат       4431 non-null uint8
gender_marital_Мужской + Одинокий    4431 non-null uint8
dtypes: float64(10), uint8(15)
memory usage: 445.7 KB

In [40]:
from sklearn.model_selection import cross_val_score, KFold
kfold = KFold(n_splits = 10)
scores_acc_logreg = cross_val_score(logreg, X, y, cv = kfold)
print('Среднее значение правильности перекрестной проверки: {:.2f}'.
      format(scores_acc_logreg.mean()))

Среднее значение правильности перекрестной проверки: 0.81

In [41]:
from sklearn.model_selection import cross_val_score, KFold
kfold = KFold(n_splits = 10)
scores_auc_logreg = cross_val_score(logreg, X, y, scoring = 'roc_auc', cv = kfold)
print('Среднее значение AUC перекрестной проверки: {:.2f}'.
      format(scores_auc_logreg.mean()))

Среднее значение AUC перекрестной проверки: 0.88

In [42]:
# пишем функцию, выполняющую биннинг
def user_bin(train, number):
    tv = 'churn'
    col_list = []  
    iv_list = []
    bins_list = [] 
    groups_list = []      
    a= 0.01  
    for var_name in train: 
        # используем для биннинга переменные с более чем 24 уникальными значениями 
        if(len(train[var_name].unique()) >= 24):
            col_list.append(var_name)  
    print('У нас ' + str(len(col_list)) + ' переменных, пригодных для биннинга')    
    for var_name in col_list:  
        num = number  
        bins = np.linspace(train[var_name].min(), train[var_name].max(), num) 
        rounded_bins = np.round(bins, 2)
        groups = np.digitize(train[var_name], bins)        
        biv = pd.crosstab(groups, train[tv])   
        # умножаем на 1.0, чтобы преобразовать во float и добавляем "a=0.01", чтобы избежать деления на ноль
        WoE = np.log((1.0*biv['Остается']/sum(biv['Остается']) + a) / (1.0*biv['Уходит']/sum(biv['Уходит']) + a))
        IV = sum(((1.0*biv['Остается']/sum(biv['Остается']) + a) - (1.0*biv['Уходит']/sum(biv['Уходит']) + a))*np.log((1.0*biv['Остается']/sum(biv['Остается']) + a) / (1.0*biv['Уходит']/sum(biv['Уходит']) + a)))
        iv_list.append(IV) 
        bins_list.append(num)        
        groups_list.append(rounded_bins)
    result = pd.DataFrame({'Переменная' : col_list, 
                           'Бины': groups_list, 
                           'IV' : iv_list,
                           'Количество_бинов' : bins_list})    
    return(result.sort_values(by = 'IV', ascending = False))

In [43]:
user_bin(train, 10)

У нас 9 переменных, пригодных для биннинга

,Переменная,Бины,IV,Количество_бинов
6,ratio2,"[-9.01, -7.81, -6.61, -5.41, -4.2, -3.0, -1.8, -0.6, 0.61, 1.81]",0.756717,10
0,longdist,"[-1.46, -0.06, 1.35, 2.75, 4.16, 5.56, 6.97, 8.37, 9.77, 11.18]",0.433322,10
1,internat,"[-13.08, -11.46, -9.84, -8.22, -6.6, -4.98, -3.35, -1.73, -0.11, 1.51]",0.375355,10
5,ratio,"[-0.49, -0.14, 0.21, 0.56, 0.9, 1.25, 1.6, 1.95, 2.3, 2.64]",0.308490,10
2,local,"[-2.16, -0.42, 1.32, 3.06, 4.8, 6.54, 8.28, 10.02, 11.76, 13.5]",0.230167,10
3,age,"[11.4, 15.41, 19.42, 23.43, 27.44, 31.45, 35.46, 39.47, 43.48, 47.49]",0.119664,10
7,ratio3,"[1.25, 7.19, 13.13, 19.06, 25.0, 30.94, 36.87, 42.81, 48.75, 54.68]",0.067524,10
8,ratio4,"[-0.64, 0.38, 1.4, 2.42, 3.44, 4.46, 5.47, 6.49, 7.51, 8.53]",0.033225,10
4,income,"[40.64, 695.07, 1349.49, 2003.91, 2658.33, 3312.76, 3967.18, 4621.6, 5276.02, 5930.45]",0.021932,10

In [44]:
# выполняем биннинг переменной longdist
bins = [-np.inf, -0.06, 1.35, 2.75, 4.16, 5.56, 6.97, 8.37, 9.77, np.inf]
train['longdistcat'] = pd.cut(train['longdist'], bins).astype('object')
test['longdistcat'] = pd.cut(test['longdist'], bins).astype('object')

In [45]:
# выполняем биннинг переменной age
bins = [-np.inf, 15, 19, 23, 27, 32, 36, 40, 44, np.inf]
train['agecat'] = pd.cut(train['age'], bins).astype('object')
test['agecat'] = pd.cut(test['age'], bins).astype('object')

In [46]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3102 entries, 2157 to 4105
Data columns (total 19 columns):
longdist          3102 non-null float64
internat          3102 non-null float64
local             3102 non-null float64
int_disc          3102 non-null object
billtype          3102 non-null object
pay               3102 non-null object
age               3102 non-null float64
gender            3102 non-null object
marital           3102 non-null object
children          3102 non-null float64
income            3102 non-null float64
churn             3102 non-null object
gender_marital    3102 non-null object
ratio             3102 non-null float64
ratio2            3102 non-null float64
ratio3            3102 non-null float64
ratio4            3102 non-null float64
longdistcat       3102 non-null object
agecat            3102 non-null object
dtypes: float64(10), object(9)
memory usage: 484.7+ KB

In [47]:
# печатаем названия столбцов до и после
# дамми-кодирования
print('Исходные переменные:\n', list(train.columns), '\n')
train_dum = pd.get_dummies(train)
print('Переменные после get_dummies:\n', list(train_dum.columns))

print('Исходные переменные:\n', list(test.columns), '\n')
test_dum = pd.get_dummies(test)
print('Переменные после get_dummies:\n', list(test_dum.columns))

Исходные переменные:
 ['longdist', 'internat', 'local', 'int_disc', 'billtype', 'pay', 'age', 'gender', 'marital', 'children', 'income', 'churn', 'gender_marital', 'ratio', 'ratio2', 'ratio3', 'ratio4', 'longdistcat', 'agecat']

Переменные после get_dummies:
 ['longdist', 'internat', 'local', 'age', 'children', 'income', 'ratio', 'ratio2', 'ratio3', 'ratio4', 'int_disc_Да', 'int_disc_Нет', 'billtype_Бесплатный', 'billtype_Бюджетный', 'pay_Auto', 'pay_CC', 'pay_CH', 'gender_Женский', 'gender_Мужской', 'marital_Женат', 'marital_Одинокий', 'churn_Остается', 'churn_Уходит', 'gender_marital_Женский + Женат', 'gender_marital_Женский + Одинокий', 'gender_marital_Мужской + Женат', 'gender_marital_Мужской + Одинокий', 'longdistcat_(-inf, -0.06]', 'longdistcat_(-0.06, 1.35]', 'longdistcat_(1.35, 2.75]', 'longdistcat_(2.75, 4.16]', 'longdistcat_(4.16, 5.56]', 'longdistcat_(5.56, 6.97]', 'longdistcat_(6.97, 8.37]', 'longdistcat_(8.37, 9.77]', 'longdistcat_(9.77, inf]', 'agecat_(-inf, 15.0]', 'agecat_(15.0, 19.0]', 'agecat_(19.0, 23.0]', 'agecat_(23.0, 27.0]', 'agecat_(27.0, 32.0]', 'agecat_(32.0, 36.0]', 'agecat_(36.0, 40.0]', 'agecat_(40.0, 44.0]', 'agecat_(44.0, inf]']
Исходные переменные:
 ['longdist', 'internat', 'local', 'int_disc', 'billtype', 'pay', 'age', 'gender', 'marital', 'children', 'income', 'churn', 'gender_marital', 'ratio', 'ratio2', 'ratio3', 'ratio4', 'longdistcat', 'agecat']

Переменные после get_dummies:
 ['longdist', 'internat', 'local', 'age', 'children', 'income', 'ratio', 'ratio2', 'ratio3', 'ratio4', 'int_disc_Да', 'int_disc_Нет', 'billtype_Бесплатный', 'billtype_Бюджетный', 'pay_Auto', 'pay_CC', 'pay_CH', 'gender_Женский', 'gender_Мужской', 'marital_Женат', 'marital_Одинокий', 'churn_Остается', 'churn_Уходит', 'gender_marital_Женский + Женат', 'gender_marital_Женский + Одинокий', 'gender_marital_Мужской + Женат', 'gender_marital_Мужской + Одинокий', 'longdistcat_(-inf, -0.06]', 'longdistcat_(-0.06, 1.35]', 'longdistcat_(1.35, 2.75]', 'longdistcat_(2.75, 4.16]', 'longdistcat_(4.16, 5.56]', 'longdistcat_(5.56, 6.97]', 'longdistcat_(6.97, 8.37]', 'longdistcat_(8.37, 9.77]', 'longdistcat_(9.77, inf]', 'agecat_(-inf, 15.0]', 'agecat_(15.0, 19.0]', 'agecat_(19.0, 23.0]', 'agecat_(23.0, 27.0]', 'agecat_(27.0, 32.0]', 'agecat_(32.0, 36.0]', 'agecat_(36.0, 40.0]', 'agecat_(40.0, 44.0]', 'agecat_(44.0, inf]']

In [48]:
# создаем обучающий и контрольный массивы признаков
train_dum.drop(['churn_Остается', 'churn_Уходит'], axis = 1, inplace = True)
test_dum.drop(['churn_Остается', 'churn_Уходит'], axis = 1, inplace = True)
X_tr = train_dum.loc[:, 'longdist':'agecat_(44.0, inf]']
X_tst = test_dum.loc[:, 'longdist':'agecat_(44.0, inf]']

In [49]:
# применяем RobustScaler
scaler.fit(X_tr)
X_train_scaled2 = scaler.transform(X_tr)
X_test_scaled2 = scaler.transform(X_tst)

In [50]:
# строим логистическую регрессию
logreg = LogisticRegression().fit(X_train_scaled2, y_train)
from sklearn.metrics import roc_auc_score
print('AUC на обучающей выборке: {:.3f}'.
      format(roc_auc_score(y_train, logreg.predict_proba(X_train_scaled2)[:, 1])))
print('AUC на контрольной выборке: {:.3f}'.
      format(roc_auc_score(y_test, logreg.predict_proba(X_test_scaled2)[:, 1])))

AUC на обучающей выборке: 0.906
AUC на контрольной выборке: 0.902

In [51]:
# перед импортом библиотеки h2o и модуля os убедитесь, что библиотека h2o установлена 
# (сначала установите Java SE Development Kit 8, обратите внимание, 
# 9-я версия H2O не поддерживается, а затем после установки Java 
# запустите Anaconda Prompt и установите h2o с помощью 
# строки pip install h2o)
import h2o
import os
h2o.init(nthreads = -1, max_mem_size = 8)

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)
  Starting server from C:\Anaconda3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Gewissta\AppData\Local\Temp\tmpypofwnku
  JVM stdout: C:\Users\Gewissta\AppData\Local\Temp\tmpypofwnku\h2o_Gewissta_started_from_python.out
  JVM stderr: C:\Users\Gewissta\AppData\Local\Temp\tmpypofwnku\h2o_Gewissta_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321... successful.

--------------------------  -------------------------------
H2O cluster uptime:         03 secs
H2O cluster timezone:       Europe/Moscow
H2O data parsing timezone:  UTC
H2O cluster version:        3.18.0.11
H2O cluster version age:    2 months and 3 days
H2O cluster name:           H2O_from_python_Gewissta_lwyk4z
H2O cluster total nodes:    1
H2O cluster free memory:    7.111 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Algos, AutoML, Core V3, Core V4
Python version:             3.6.5 final
--------------------------  -------------------------------

In [52]:
# импортируем библиотеку для транслитерации
from transliterate import translit

In [53]:
cat_cols = [c for c in data.loc[:, data.columns.difference(['longdist', 'agecat'])] if data[c].dtype.name == 'object']
cat_cols

['billtype', 'churn', 'gender', 'gender_marital', 'int_disc', 'marital', 'pay']

In [54]:
# выполняем транслитерацию
for i in cat_cols:
    train[i] = train[i].apply(lambda x: translit(x, 'ru', reversed=True))
    test[i] = test[i].apply(lambda x: translit(x, 'ru', reversed=True))

In [55]:
# смотрим результаты транслитерации
# на обучающем наборе
for c in cat_cols:
    print(train[c].unique())

['Besplatnyj' 'Bjudzhetnyj']
['Uhodit' 'Ostaetsja']
['Zhenskij' 'Muzhskoj']
['Zhenskij + Odinokij' 'Muzhskoj + Odinokij' 'Muzhskoj + Zhenat'
 'Zhenskij + Zhenat']
['Net' 'Da']
['Odinokij' 'Zhenat']
['CC' 'Auto' 'CH']

In [56]:
# преобразовываем датафреймы pandas во фреймы h2o -
# специальную структуру данных, используемую h2o
tr = h2o.H2OFrame(train)
valid = h2o.H2OFrame(test)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [57]:
# взглянем на обучающий фрейм, обратите внимание,
# сейчас метод .describe() - это метод h2o, а не 
# pandas
tr.describe()

Rows:3102
Cols:19

,longdist,internat,local,int_disc,billtype,pay,age,gender,marital,children,income,churn,gender_marital,ratio,ratio2,ratio3,ratio4,longdistcat,agecat
type,real,real,real,enum,enum,enum,real,enum,enum,real,real,enum,enum,real,real,real,real,enum,enum
mins,-1.4617689427911926,-13.08449556508091,-2.1580812567551555,,,,11.396436178501588,,,-0.6960719136488698,40.643326803362754,,,-0.4877062594216891,-9.013842690079084,1.25308904519388,-0.6366263654316225,,
mean,5.742970499242988,-0.5370747814128165,5.386664483198979,,,,30.52168071447882,,,-0.00512307866064541,3468.5686242892657,,,0.9617353657773894,-0.40304415098964014,27.277132238642757,3.6691043858202272,,
maxs,11.178400979760111,1.5098544900087318,13.49998272989935,,,,47.49453722704369,,,0.6902388099495838,5930.446007291198,,,2.643851286791982,1.8073864804974216,54.682042805240066,8.530219660920261,,
sigma,3.7481925278363244,0.8241010726999622,2.6312437411889036,,,,10.29381349840921,,,0.5731208313495241,1562.1393133989668,,,0.6220214843175025,0.9060414985500521,9.063617518543097,3.3245488978079143,,
zeros,0,0,0,,,,0,,,981,0,,,331,0,0,0,,
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,10.830316215501012,-0.7973691896243745,3.0139764916030396,Net,Besplatnyj,CC,31.481124391227365,Zhenskij,Odinokij,0.0,4154.869955368662,Uhodit,Zhenskij + Odinokij,0.6380736609198995,-0.8426173419431201,29.48619007621708,7.0692912592036485,"(9.77, inf]","(27.0, 32.0]"
1,9.610612620935832,-0.7973691896243745,5.868418157380489,Net,Bjudzhetnyj,Auto,21.75945440417797,Muzhskoj,Odinokij,0.6902388099495838,3999.82979706269,Ostaetsja,Muzhskoj + Odinokij,0.4193175562637697,-0.8426173419431201,34.17417898296471,4.344087437405437,"(8.37, 9.77]","(19.0, 23.0]"
2,4.818142319084006,0.8114037387415547,9.706150923277695,Net,Bjudzhetnyj,CC,37.14164945190454,Muzhskoj,Odinokij,0.6902388099495838,3846.622500089806,Uhodit,Muzhskoj + Odinokij,1.4423283931834263,0.9230946546571864,26.217624680999545,5.786178007530157,"(4.16, 5.56]","(36.0, 40.0]"
3,6.090751811304289,-0.7973691896243745,4.079850497110482,Net,Besplatnyj,Auto,45.87760791712468,Muzhskoj,Zhenat,-0.6960719136488698,4111.351920814815,Ostaetsja,Muzhskoj + Zhenat,1.421333413132847,-0.8426173419431201,24.595382492045747,-0.6366263654316225,"(5.56, 6.97]","(44.0, inf]"
4,6.487100766556696,-0.7973691896243745,7.573134682878638,Net,Besplatnyj,CC,29.69121442564829,Zhenskij,Zhenat,0.6902388099495838,1084.8445543242349,Uhodit,Zhenskij + Zhenat,1.0826284053643802,-0.8426173419431201,14.542021957687805,5.150345176889627,"(5.56, 6.97]","(27.0, 32.0]"
5,11.015539770928209,-0.7973691896243745,4.338212544380721,Net,Besplatnyj,CC,30.58929308114801,Zhenskij,Zhenat,0.0,3601.760919948181,Uhodit,Zhenskij + Zhenat,0.5918756230483463,-0.8426173419431201,27.7081912437648,6.974505708781461,"(9.77, inf]","(27.0, 32.0]"
6,8.11821036984358,-1.2586743051003224,3.890591743525744,Net,Bjudzhetnyj,Auto,22.724555159907094,Muzhskoj,Zhenat,0.0,4232.816277526022,Ostaetsja,Muzhskoj + Zhenat,0.6524110936931601,1.621333001919979,34.51906259546517,6.046747058490195,"(6.97, 8.37]","(19.0, 23.0]"
7,10.882675446962878,-0.7973691896243745,6.433780385657437,Net,Besplatnyj,CC,45.471232364689584,Muzhskoj,Odinokij,-0.6960719136488698,5042.377477395787,Ostaetsja,Muzhskoj + Odinokij,0.952266046808074,-0.8426173419431201,27.53658512829646,-0.6366263654316225,"(9.77, inf]","(44.0, inf]"
8,10.70405514683309,-0.7973691896243745,11.2214214046604,Net,Besplatnyj,CC,43.01409226655589,Zhenskij,Odinokij,0.6902388099495838,5251.069434159751,Ostaetsja,Zhenskij + Odinokij,0.9230798407718784,-0.8426173419431201,28.872629274464614,6.229602676548743,"(9.77, inf]","(40.0, 44.0]"
9,6.343522871405514,0.8824915333527633,5.3698760668671035,Da,Besplatnyj,CC,31.924777132272656,Muzhskoj,Zhenat,0.6902388099495838,5195.226178228316,Uhodit,Muzhskoj + Zhenat,1.153293996715087,1.036701126145115,32.93832505641374,5.351114871375103,"(5.56, 6.97]","(27.0, 32.0]"

In [58]:
# задаем название зависимой переменной
dependent = "churn"
# задаем список названий предикторов
predictors = list(tr.columns)
# удаляем название зависимой переменной из 
# списка названий предикторов
predictors.remove(dependent)

In [59]:
# импортируем класс H2OGeneralizedLinearEstimator
from h2o.estimators.glm import H2OGeneralizedLinearEstimator

In [60]:
# создаем экземпляр класса H2OGeneralizedLinearEstimator
glm_model = H2OGeneralizedLinearEstimator(family = "binomial", seed = 1000000)
# обучаем модель
glm_model.train(predictors, dependent, training_frame = tr, 
                validation_frame = valid)

glm Model Build progress: |███████████████████████████████████████████████| 100%

In [61]:
# смотрим модель
glm_model

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  GLM_model_python_1532710224836_1


ModelMetricsBinomialGLM: glm
** Reported on train data. **

MSE: 0.11712344296738288
RMSE: 0.34223302436699893
LogLoss: 0.37723004559597845
Null degrees of freedom: 3101
Residual degrees of freedom: 3065
Null deviance: 4249.593703095778
Residual deviance: 2340.3352028774502
AIC: 2414.3352028774502
AUC: 0.9065554089191289
Gini: 0.8131108178382578
Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.4141460817968022:

           Ostaetsja    Uhodit    Error    Rate
---------  -----------  --------  -------  --------------
Ostaetsja  1347         402       0.2298   (402.0/1749.0)
Uhodit     74           1279      0.0547   (74.0/1353.0)
Total      1421         1681      0.1534   (476.0/3102.0)

Maximum Metrics: Maximum metrics at their respective thresholds

metric                       threshold    value     idx
---------------------------  -----------  --------  -----
max f1                       0.414146     0.843111  242
max f2                       0.366615     0.903987  251
max f0point5                 0.590603     0.812726  174
max accuracy                 0.500433     0.851386  216
max precision                0.99636      1         0
max recall                   0.0257848    1         384
max specificity              0.99636      1         0
max absolute_mcc             0.414146     0.712113  242
max min_per_class_accuracy   0.548293     0.835906  196
max mean_per_class_accuracy  0.500433     0.857751  216

Gains/Lift Table: Avg response rate: 43,62 %

    group    cumulative_data_fraction    lower_threshold    lift       cumulative_lift    response_rate    cumulative_response_rate    capture_rate    cumulative_capture_rate    gain      cumulative_gain
--  -------  --------------------------  -----------------  ---------  -----------------  ---------------  --------------------------  --------------  -------------------------  --------  -----------------
    1        0.0106383                   0.992444           2.29268    2.29268            1                1                           0.0243902       0.0243902                  129.268   129.268
    2        0.0203095                   0.99153            2.21626    2.25629            0.966667         0.984127                    0.0214339       0.0458241                  121.626   125.629
    3        0.030303                    0.990775           2.29268    2.26829            1                0.989362                    0.022912        0.0687361                  129.268   126.829
    4        0.040619                    0.98951            2.29268    2.27449            1                0.992063                    0.0236511       0.0923873                  129.268   127.449
    5        0.0506125                   0.987105           2.29268    2.27808            1                0.993631                    0.022912        0.115299                   129.268   127.808
    6        0.100258                    0.96506            2.09914    2.18948            0.915584         0.954984                    0.104213        0.219512                   109.914   118.948
    7        0.150548                    0.873803           1.82239    2.06685            0.794872         0.901499                    0.0916482       0.31116                    82.2389   106.685
    8        0.200516                    0.787581           1.87852    2.01992            0.819355         0.881029                    0.0938655       0.405026                   87.8521   101.992
    9        0.300451                    0.674188           1.77498    1.93845            0.774194         0.845494                    0.177384        0.582409                   77.498    93.8449
    10       0.400064                    0.592486           1.76589    1.89548            0.770227         0.826753                    0.175905        0.758315                   76.5885   89.5482
    11       0.500322                    0.503738           1.42279    1.80076            0.620579         0.785438                    0.142646        0.900961                   42.279    80.0761
    12       0.599936                    0.143573           0.571316   1.59662            0.249191         0.6964                      0.0569106       0.957871                   -42.8684  59.6624
    13       0.700193                    0.0785182          0.191671   1.39545            0.0836013        0.608656                    0.0192166       0.977088                   -80.8329  39.5454
    14       0.799807                    0.0572817          0.0667772  1.22997            0.0291262        0.536477                    0.00665188      0.98374                    -93.3223  22.9972
    15       0.899742                    0.0385291          0.0961448  1.10404            0.0419355        0.481548                    0.00960828      0.993348                   -90.3855  10.4036
    16       1                           1.93301e-09        0.0663477  1                  0.0289389        0.43617                     0.00665188      1                          -93.3652  0

ModelMetricsBinomialGLM: glm
** Reported on validation data. **

MSE: 0.12067494193572006
RMSE: 0.3473829902797776
LogLoss: 0.3889605191516569
Null degrees of freedom: 1328
Residual degrees of freedom: 1292
Null deviance: 1821.8635267830318
Residual deviance: 1033.8570599051043
AIC: 1107.8570599051043
AUC: 0.90195719878368
Gini: 0.8039143975673599
Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.4927777325090292:

           Ostaetsja    Uhodit    Error    Rate
---------  -----------  --------  -------  --------------
Ostaetsja  591          156       0.2088   (156.0/747.0)
Uhodit     45           537       0.0773   (45.0/582.0)
Total      636          693       0.1512   (201.0/1329.0)

Maximum Metrics: Maximum metrics at their respective thresholds

metric                       threshold    value     idx
---------------------------  -----------  --------  -----
max f1                       0.492778     0.842353  228
max f2                       0.366643     0.901719  256
max f0point5                 0.543254     0.814552  205
max accuracy                 0.543254     0.848758  205
max precision                0.997102     1         0
max recall                   0.03758      1         376
max specificity              0.997102     1         0
max absolute_mcc             0.492778     0.708974  228
max min_per_class_accuracy   0.554346     0.834003  199
max mean_per_class_accuracy  0.492778     0.856923  228

Gains/Lift Table: Avg response rate: 43,79 %

    group    cumulative_data_fraction    lower_threshold    lift       cumulative_lift    response_rate    cumulative_response_rate    capture_rate    cumulative_capture_rate    gain      cumulative_gain
--  -------  --------------------------  -----------------  ---------  -----------------  ---------------  --------------------------  --------------  -------------------------  --------  -----------------
    1        0.0105342                   0.992912           2.28351    2.28351            1                1                           0.024055        0.024055                   128.351   128.351
    2        0.020316                    0.99192            2.28351    2.28351            1                1                           0.0223368       0.0463918                  128.351   128.351
    3        0.0316027                   0.991075           1.97904    2.17477            0.866667         0.952381                    0.0223368       0.0687285                  97.9038   117.477
    4        0.0413845                   0.990371           2.28351    2.20047            1                0.963636                    0.0223368       0.0910653                  128.351   120.047
    5        0.0511663                   0.988517           2.28351    2.21634            1                0.970588                    0.0223368       0.113402                   128.351   121.634
    6        0.100075                    0.974878           2.10785    2.16332            0.923077         0.947368                    0.103093        0.216495                   110.785   116.332
    7        0.150489                    0.886464           1.87452    2.06657            0.820896         0.905                       0.0945017       0.310997                   87.4519   106.657
    8        0.20015                     0.790943           1.66073    1.96587            0.727273         0.860902                    0.0824742       0.393471                   66.0731   96.5875
    9        0.300978                    0.681441           1.77227    1.90102            0.776119         0.8325                      0.178694        0.572165                   77.2273   90.1018
    10       0.400301                    0.596738           1.67803    1.84569            0.734848         0.808271                    0.166667        0.738832                   67.803    84.569
    11       0.500376                    0.5187             1.54523    1.7856             0.676692         0.781955                    0.154639        0.893471                   54.5229   78.5598
    12       0.599699                    0.200386           0.674672   1.60161            0.295455         0.70138                     0.0670103       0.960481                   -32.5328  60.1605
    13       0.700527                    0.0833876          0.15337    1.39316            0.0671642        0.610097                    0.0154639       0.975945                   -84.663   39.3159
    14       0.79985                     0.057203           0.0691971  1.22875            0.030303         0.5381                      0.00687285      0.982818                   -93.0803  22.8753
    15       0.900677                    0.0389226          0.119288   1.10455            0.0522388        0.483709                    0.0120275       0.994845                   -88.0712  10.4553
    16       1                           1.93301e-09        0.0518978  1                  0.0227273        0.437923                    0.00515464      1                          -94.8102  0

Scoring History:

    timestamp            duration    iterations    negative_log_likelihood    objective
--  -------------------  ----------  ------------  -------------------------  -----------
    2018-07-27 19:50:34  0.000 sec   0             2124.8                     0.684976
    2018-07-27 19:50:34  0.070 sec   1             1309.09                    0.423814
    2018-07-27 19:50:34  0.088 sec   2             1189.38                    0.386491
    2018-07-27 19:50:34  0.100 sec   3             1171.36                    0.381433
    2018-07-27 19:50:34  0.113 sec   4             1170.4                     0.38127
    2018-07-27 19:50:34  0.126 sec   5             1170.17                    0.381249

In [62]:
glm_model2 = H2OGeneralizedLinearEstimator(family = "binomial", 
                                           seed = 1000000, lambda_search = True)
glm_model2.train(predictors, dependent, training_frame = tr, validation_frame = valid)

glm Model Build progress: |███████████████████████████████████████████████| 100%

In [63]:
# импортируем класс H2OGridSearch для выполнения решетчатого поиска
from h2o.grid.grid_search import H2OGridSearch

# задаем сетку параметров, будем перебирать разные значения alpha,
# alpha определяет тип регуляризации: значение 1 соответствует 
# l1-регуляризации (лассо), значение 0 соответствует l2-регуляризации 
# (гребневой регрессии), промежуточное значение соответствует 
# комбинации штрафов l1 и l2 (эластичной сети)
hyper_parameters = {'alpha': [0, 0.02, 0.04, 0.06, 0.08, 1]}

# создаем экземпляр класса H2OGridSearch, lambda_search 
# задает перебор значений lambda - силы регуляризации
gridsearch = H2OGridSearch(H2OGeneralizedLinearEstimator(family = 'binomial', lambda_search = True),
                           grid_id="gridresults", hyper_params = hyper_parameters)
# подгоняем модели решетчатого поиска
gridsearch.train(predictors, dependent, training_frame = tr, 
                 nfolds = 5, keep_cross_validation_predictions = True,
                 seed = 1000000)

glm Grid Build progress: |████████████████████████████████████████████████| 100%

In [64]:
# выводим результаты решетчатого поиска
gridsearch.show()

      alpha            model_ids              logloss
0     [1.0]  gridresults_model_5   0.3870971042692048
1     [0.0]  gridresults_model_0  0.38721125988279814
2    [0.08]  gridresults_model_4   0.3874046153075621
3    [0.06]  gridresults_model_3   0.3874633407224959
4    [0.04]  gridresults_model_2   0.3875636140179862
5    [0.02]  gridresults_model_1   0.3879605853901832

In [65]:
# сортируем результаты решетчатого поиска
# по убывания AUC
gridperf = gridsearch.get_grid(sort_by = "auc", decreasing = True)
gridperf

      alpha            model_ids                 auc
0     [0.0]  gridresults_model_0  0.8996250417829299
1     [1.0]  gridresults_model_5  0.8995413702772611
2    [0.08]  gridresults_model_4  0.8992375328400095
3    [0.06]  gridresults_model_3  0.8990997706640095
4    [0.04]  gridresults_model_2  0.8989641214048192
5    [0.02]  gridresults_model_1  0.8986936680531626

In [66]:
# извлекаем наилучшую модель
best_model = gridperf.models[0]
best_model

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  gridresults_model_0


ModelMetricsBinomialGLM: glm
** Reported on train data. **

MSE: 0.11636170851637684
RMSE: 0.34111832040565754
LogLoss: 0.3762151554823688
Null degrees of freedom: 3101
Residual degrees of freedom: 3058
Null deviance: 4249.593703095778
Residual deviance: 2334.0388246126154
AIC: 2422.0388246126154
AUC: 0.9074466372295096
Gini: 0.8148932744590192
Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.4453869671724129:

           Ostaetsja    Uhodit    Error    Rate
---------  -----------  --------  -------  --------------
Ostaetsja  1368         381       0.2178   (381.0/1749.0)
Uhodit     87           1266      0.0643   (87.0/1353.0)
Total      1455         1647      0.1509   (468.0/3102.0)

Maximum Metrics: Maximum metrics at their respective thresholds

metric                       threshold    value     idx
---------------------------  -----------  --------  -----
max f1                       0.445387     0.844     232
max f2                       0.400025     0.903403  244
max f0point5                 0.57554      0.811136  179
max accuracy                 0.494344     0.852353  216
max precision                0.996757     1         0
max recall                   0.0207317    1         385
max specificity              0.996757     1         0
max absolute_mcc             0.445387     0.713354  232
max min_per_class_accuracy   0.549321     0.834442  191
max mean_per_class_accuracy  0.445387     0.85893   232

Gains/Lift Table: Avg response rate: 43,62 %

    group    cumulative_data_fraction    lower_threshold    lift       cumulative_lift    response_rate    cumulative_response_rate    capture_rate    cumulative_capture_rate    gain      cumulative_gain
--  -------  --------------------------  -----------------  ---------  -----------------  ---------------  --------------------------  --------------  -------------------------  --------  -----------------
    1        0.0103159                   0.993565           2.29268    2.29268            1                1                           0.0236511       0.0236511                  129.268   129.268
    2        0.0203095                   0.992099           2.29268    2.29268            1                1                           0.022912        0.0465632                  129.268   129.268
    3        0.030303                    0.991331           2.21873    2.26829            0.967742         0.989362                    0.0221729       0.0687361                  121.873   126.829
    4        0.040619                    0.990187           2.29268    2.27449            1                0.992063                    0.0236511       0.0923873                  129.268   127.449
    5        0.0502901                   0.988615           2.29268    2.27799            1                0.99359                     0.0221729       0.11456                    129.268   127.799
    6        0.10058                     0.967403           2.10163    2.18981            0.916667         0.955128                    0.105691        0.220251                   110.163   118.981
    7        0.150548                    0.875334           1.84894    2.07667            0.806452         0.905782                    0.0923873       0.312639                   84.8938   107.667
    8        0.200516                    0.79692            1.84894    2.01992            0.806452         0.881029                    0.0923873       0.405026                   84.8938   101.992
    9        0.300451                    0.681354           1.81196    1.95075            0.790323         0.850858                    0.181079        0.586105                   81.1959   95.0748
    10       0.400709                    0.597872           1.70293    1.88874            0.742765         0.823813                    0.170732        0.756837                   70.2925   88.8743
    11       0.5                         0.497918           1.45898    1.8034             0.636364         0.786589                    0.144863        0.9017                     45.898    80.34
    12       0.600258                    0.139986           0.582386   1.59946            0.254019         0.697637                    0.0583888       0.960089                   -41.7614  59.946
    13       0.700193                    0.0773392          0.19229    1.39862            0.083871         0.610037                    0.0192166       0.979305                   -80.771   39.8621
    14       0.800451                    0.0554595          0.0368599  1.22806            0.0160772        0.535642                    0.00369549      0.983001                   -96.314   22.8058
    15       0.900064                    0.0348238          0.0741969  1.10036            0.0323625        0.479943                    0.00739098      0.990392                   -92.5803  10.0356
    16       1                           1.6189e-09         0.0961448  1                  0.0419355        0.43617                     0.00960828      1                          -90.3855  0

ModelMetricsBinomialGLM: glm
** Reported on cross-validation data. **

MSE: 0.12012630549712923
RMSE: 0.3465924198494959
LogLoss: 0.38721125988279814
Null degrees of freedom: 3101
Residual degrees of freedom: 3058
Null deviance: 4251.626695674246
Residual deviance: 2402.25865631288
AIC: 2490.25865631288
AUC: 0.8996250417829299
Gini: 0.7992500835658598
Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.41217604427276106:

           Ostaetsja    Uhodit    Error    Rate
---------  -----------  --------  -------  --------------
Ostaetsja  1349         400       0.2287   (400.0/1749.0)
Uhodit     80           1273      0.0591   (80.0/1353.0)
Total      1429         1673      0.1547   (480.0/3102.0)

Maximum Metrics: Maximum metrics at their respective thresholds

metric                       threshold    value     idx
---------------------------  -----------  --------  -----
max f1                       0.412176     0.841375  248
max f2                       0.355733     0.902525  261
max f0point5                 0.522446     0.797719  207
max accuracy                 0.412176     0.845261  248
max precision                0.997103     1         0
max recall                   0.0152335    1         389
max specificity              0.997103     1         0
max absolute_mcc             0.412176     0.708538  248
max min_per_class_accuracy   0.542802     0.827902  198
max mean_per_class_accuracy  0.412176     0.856085  248

Gains/Lift Table: Avg response rate: 43,62 %

    group    cumulative_data_fraction    lower_threshold    lift       cumulative_lift    response_rate    cumulative_response_rate    capture_rate    cumulative_capture_rate    gain      cumulative_gain
--  -------  --------------------------  -----------------  ---------  -----------------  ---------------  --------------------------  --------------  -------------------------  --------  -----------------
    1        0.0103159                   0.993701           2.29268    2.29268            1                1                           0.0236511       0.0236511                  129.268   129.268
    2        0.0203095                   0.992622           2.29268    2.29268            1                1                           0.022912        0.0465632                  129.268   129.268
    3        0.030303                    0.991407           2.21873    2.26829            0.967742         0.989362                    0.0221729       0.0687361                  121.873   126.829
    4        0.0402966                   0.990154           2.29268    2.27434            1                0.992                       0.022912        0.0916482                  129.268   127.434
    5        0.0502901                   0.988621           2.29268    2.27799            1                0.99359                     0.022912        0.11456                    129.268   127.799
    6        0.100258                    0.968625           2.05602    2.16736            0.896774         0.945338                    0.102735        0.217295                   105.602   116.736
    7        0.150226                    0.879182           1.84894    2.06145            0.806452         0.899142                    0.0923873       0.309682                   84.8938   106.145
    8        0.200193                    0.798437           1.83415    2.00471            0.8              0.874396                    0.0916482       0.40133                    83.4146   100.471
    9        0.300129                    0.681316           1.76019    1.92329            0.767742         0.838883                    0.175905        0.577236                   76.0189   92.3293
    10       0.400064                    0.597668           1.60488    1.84375            0.7              0.80419                     0.160384        0.73762                    60.4878   84.3753
    11       0.5                         0.490259           1.50134    1.77531            0.654839         0.774339                    0.150037        0.887657                   50.1338   77.5314
    12       0.599936                    0.138494           0.739575   1.60278            0.322581         0.699087                    0.0739098       0.961567                   -26.0425  60.2784
    13       0.699871                    0.0767612          0.162707   1.39715            0.0709677        0.609397                    0.0162602       0.977827                   -83.7293  39.7153
    14       0.799807                    0.0542483          0.0443745  1.22812            0.0193548        0.535671                    0.00443459      0.982262                   -95.5625  22.8124
    15       0.899742                    0.0352695          0.088749   1.10157            0.0387097        0.480473                    0.00886918      0.991131                   -91.1251  10.1572
    16       1                           1.88242e-09        0.0884636  1                  0.0385852        0.43617                     0.00886918      1                          -91.1536  0

Cross-Validation Metrics Summary:

                   mean        sd            cv_1_valid    cv_2_valid    cv_3_valid    cv_4_valid    cv_5_valid
-----------------  ----------  ------------  ------------  ------------  ------------  ------------  ------------
accuracy           0.84599876  0.014130733   0.83627605    0.8791733     0.8486394     0.8178808     0.8480243
auc                0.89953977  0.0087900665  0.8822466     0.91470546    0.9065971     0.88754475    0.9066048
err                0.1540012   0.014130733   0.16372392    0.12082671    0.15136054    0.1821192     0.15197569
err_count          95.4        8.337866      102.0         76.0          89.0          110.0         100.0
f0point5           0.792463    0.024014197   0.78899086    0.84887457    0.79396325    0.74191505    0.7885714
---                ---         ---           ---           ---           ---           ---           ---
r2                 0.50855976  0.024843616   0.4692606     0.55659795    0.5247222     0.46653962    0.5256783
recall             0.94200826  0.0122540165  0.9247312     0.9198606     0.9453125     0.955102      0.96503496
residual_deviance  479.73633   18.166113     517.67255     466.2498      440.305       484.78        489.6744
rmse               0.34715563  0.008134402   0.3622713     0.33166695    0.34181055    0.35862818    0.34140125
specificity        0.7731918   0.028039401   0.7645349     0.84502923    0.77409637    0.724234      0.7580645

See the whole table with table.as_data_frame()
Scoring History:

     timestamp            duration    iteration    lambda    predictors    deviance_train      deviance_test    deviance_xval       deviance_se
---  -------------------  ----------  -----------  --------  ------------  ------------------  ---------------  ------------------  ---------------------
     2018-07-27 19:50:41  0.000 sec   2            ,16E2     44            1.3555875702247253  nan              1.3590437783169926  0.004110880128275365
     2018-07-27 19:50:41  0.009 sec   4            ,97E1     44            1.3472279452888074  nan              1.3523131816063967  0.004060724146986665
     2018-07-27 19:50:41  0.025 sec   6            ,6E1      44            1.3343683129128425  nan              1.3418726643391563  0.0039818696456933285
     2018-07-27 19:50:41  0.037 sec   8            ,37E1     44            1.3150629486530323  nan              1.3259930146619516  0.003858653596258092
     2018-07-27 19:50:41  0.047 sec   10           ,23E1     44            1.2871667501552235  nan              1.302592036837893   0.0036723634887436732
---  ---                  ---         ---          ---       ---           ---                 ---              ---                 ---
     2018-07-27 19:50:41  0.286 sec   52           ,1E-3     44            0.7531963760354963  nan              0.7748687916472526  0.018558322942018448
     2018-07-27 19:50:41  0.296 sec   54           ,65E-4    44            0.7528345659338899  nan              0.7747603646185178  0.018478432232924988
     2018-07-27 19:50:41  0.303 sec   55           ,4E-4     44            0.7525885099765693  nan              0.7747059792246462  0.018363822085076524
     2018-07-27 19:50:41  0.310 sec   56           ,25E-4    44            0.7524303109647399  nan              0.7746932511534766  0.018247282627488225
     2018-07-27 19:50:41  0.321 sec   57           ,16E-4    44            0.7523314827004026  nan              0.0                 0.0

See the whole table with table.as_data_frame()

In [67]:
# смотрим AUC наилучшей модели
# на контрольной выборке
bestmodel_perf = best_model.model_performance(valid)
print(bestmodel_perf.auc())

0.9029635149992871